$space-s: 12px;
$space-m: 18px;
$space-l: 24px;
$space-xl: 30px;
$space-xxl: 50px;

.mr-s { margin-right:	$space-s; }
.mr-m { margin-right:	$space-m; }
.mr-l { margin-right:	$space-l; }
.mr-xl { margin-right:	$space-xl; }
.mr-xxl { margin-right:	$space-xxl; }

.ml-s { margin-left:	$space-s; }
.ml-m { margin-left:	$space-m; }
.ml-l { margin-left:	$space-l; }
.ml-xl { margin-left:	$space-xl; }
.ml-xxl { margin-left:	$space-xxl; }

.mb-s { margin-bottom:	$space-s; }
.mb-m { margin-bottom:	$space-m; }
.mb-l { margin-bottom:	$space-l; }
.mb-xl { margin-bottom:	$space-xl; }
.mb-xxl { margin-bottom:	$space-xxl; }

.mt-s { margin-top:		$space-s; }
.mt-m { margin-top:		$space-m; }
.mt-l { margin-top:		$space-l; }
.mt-xl { margin-top:	$space-xl; }
.mt-xxl { margin-top:	$space-xxl; }


.pr-s { padding-right:	$space-s; }
.pr-m { padding-right:	$space-m; }
.pr-l { padding-right:	$space-l; }
.pr-xl { padding-right:	$space-xl; }
.pr-xxl { padding-right:	$space-xxl; }

.pl-s { padding-left:	$space-s; }
.pl-m { padding-left:	$space-m; }
.pl-l { padding-left:	$space-l; }
.pl-xl { padding-left:	$space-xl; }
.pl-xxl { padding-left:	$space-xxl; }

.pb-s { padding-bottom:	$space-s; }
.pb-m { padding-bottom:	$space-m; }
.pb-l { padding-bottom:	$space-l; }
.pb-xl { padding-bottom:	$space-xl; }
.pb-xxl { padding-bottom:	$space-xxl; }

.pt-s { padding-top:		$space-s; }
.pt-m { padding-top:		$space-m; }
.pt-l { padding-top:		$space-l; }
.pt-xl { padding-top:	$space-xl; }
.pt-xxl { padding-top:	$space-xxl; }
