.red 						{ background: $appweb_color1 !important; }
.red-hover:hover 			{ background: $appweb_color1 !important;}
.red-text 					{ color: $appweb_color1 !important; }
.red-hover-text:hover 		{ color: $appweb_color1 !important; }
.red-border 				{ border-color: $appweb_color1 !important; }

.white 						{ background: $appweb_color2 !important; }
.white-hover:hover 			{ background: $appweb_color2 !important;}
.white-text 				{ color: $appweb_color2 !important; }
.white-hover-text:hover 	{ color: $appweb_color2 !important; }
.white-border 				{ border-color: $appweb_color2 !important; }

.grey-soft 						{ background: $appweb_color3 !important; }
.grey-soft-hover:hover 			{ background: $appweb_color3 !important;}
.grey-soft-text 				{ color: $appweb_color3 !important; }
.grey-soft-hover-text:hover 	{ color: $appweb_color3 !important; }
.grey-soft-border 				{ border-color: $appweb_color3 !important; }

.grey 						{ background: $appweb_color4 !important; }
.grey-hover:hover 			{ background: $appweb_color4 !important;}
.grey-text 					{ color: $appweb_color4 !important; }
.grey-hover-text:hover 		{ color: $appweb_color4 !important; }
.grey-border 				{ border-color: $appweb_color4 !important; }

.grey-hard 						{ background: $appweb_color6 !important; }
.grey-hard-hover:hover 			{ background: $appweb_color6 !important;}
.grey-hard-text 				{ color: $appweb_color6 !important; }
.grey-hard-hover-text:hover 	{ color: $appweb_color6 !important; }
.grey-hard-border 				{ border-color: $appweb_color6 !important; }

.dark 						{ background: $appweb_color5 !important; }
.dark-hover:hover 			{ background: $appweb_color5 !important;}
.dark-text 					{ color: $appweb_color5 !important; }
.dark-hover-text:hover 		{ color: $appweb_color5 !important; }
.dark-border 				{ border-color: $appweb_color5 !important; }

.dark-blue 						{ background: $appweb_color7 !important; }
.dark-blue-hover:hover 			{ background: $appweb_color7 !important;}
.dark-blue-text 				{ color: $appweb_color7 !important; }
.dark-blue-hover-text:hover 	{ color: $appweb_color7 !important; }
.dark-blue-border 				{ border-color: $appweb_color7 !important; }

.vanila 						{ background: $appweb_color8 !important; }
.vanila-hover:hover 			{ background: $appweb_color8 !important;}
.vanila-text 					{ color: $appweb_color8 !important; }
.vanila-hover-text:hover 		{ color: $appweb_color8 !important; }
.vanila-border 					{ border-color: $appweb_color8 !important; }

.facebook 						{ background: $appweb_color_facebook !important; }
.facebook-text					{ color: $appweb_color_facebook !important; }

.twitter 						{ background: $appweb_color_twitter !important; }
.twitter-text 					{ color: $appweb_color_twitter !important; }