            body{
                font-family: Noto Sans, Arial;
                color: #3E3E3E;
            }
            .border-left-card{
                border-left: 1px solid #ccc;
            }

            @media (max-width:768px){
                .border-left-card{
                    border-left: 0px;
                    border-top:1px solid #ccc;
                }
            }
            .pagination li{ 
			  list-style: none; 
			  float:left;
			  margin: 0 5px;
			 }

			.pagination li a{ 
			  background-color:#4c881c;
			  color: white;
			  padding: 8px 15px;
			  border-radius: 5px;
			 }

			 .modal-content {
				  top:100px;
				  left:170px;
				  border-radius: 5px;
				  width:800px;
				  border: none;
			}

			.modal-header {
				  border-radius: 5px;
				  border-bottom-color: #EEEEEE;
				  background-color: #FAFAFA; 
			}

			@media (min-width: 544px) {
			  .modal-dialog {
			    max-width: 600px;
			    margin-left:180px; }
			  .modal-sm {
			    max-width: 300px; } }

            .blue{
				  background-color:#0275d8;
				}

				.p-t-12{
				  padding-top:16rem;
				}

            .card:hover{
				  box-shadow: 3px 3px 3px #bfbfbf;
				}

				.green{
				  background:#4c881c;
				}

				#footer {
				   position:fixed;
				   bottom:0;
				   width:100%;
				}

				.btn:hover{
				  box-shadow: 2px 2px 2px #bfbfbf;
				}

				.green-text{
				  color: #36a513;
				}

				.navbar-color{
				  background-color:#e6e8e6;
				}

				.black-text{
				  color:black;
				}

				.btn-view-all{
				  background-image:linear-gradient(to bottom,#fffefe 0,#f0eeef 100%);
				}